/** @format */
$background: #f7f7f8;
$primary: #282e3a;
$secondary: #2dca72;

$on-background: $primary;
$on-primary: $background;
$on-secondary: $background;

$border-radius: 5px;
$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 15px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
