/** @format */
$background: #f7f7f8;
$primary: #282e3a;
$secondary: #2dca72;

$on-background: $primary;
$on-primary: $background;
$on-secondary: $background;

$border-radius: 5px;
$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 15px;
