/** @format */
@import "../../styles/variables.scss";

.container {
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
	gap: $spacing-md;
	align-items: center;
	padding: $spacing-md;
	background-color: $primary;
	border-bottom: 1px solid #e6e6e6;
}

.title {
	cursor: pointer;
	flex: 0 0 auto;
	font-size: 1.5rem;
	font-weight: bold;
	color: $secondary;
}

.links {
	flex: 0 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	gap: $spacing-sm;
}

.link {
	display: inline-block;
	padding: $spacing-md $spacing-lg;
	border-radius: $border-radius;
	text-decoration: none;
	color: $on-secondary;
	background-color: $secondary;
	transition: color 0.2s ease-in-out;

	&:hover {
		background-color: $on-secondary;
		color: $secondary;
	}
}
