/** @format */

@import "../../styles/variables.scss";

.card,
.stack {
	height: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.imageContainer {
	position: relative;
}

.badge {
	position: absolute;
	bottom: $spacing-md;
	right: $spacing-md;
}

.title {
	font-weight: bold;
}

.description {
	max-height: 80px;
	overflow-y: auto;
	line-height: 1.3;
}
